* {
    font-family: Roboto, Arial, sans-serif;
}

body {
    margin: none;
    padding: none;
}

.headbar {
    background-color: #dddddd;
    color: #00838f;
    height: 100px;

    vertical-align: center;
}

.headbar > img {
    height: 75px;
    float: left;
}

#fab {
    width: 75px;
    height: 75px;
    background-color:#00838f;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 #666;
    
    font-size: 50px;
    color: white;
    text-align: center;
    line-height: 75px;
    
    position: fixed;
    left: calc(30% - 100px);
    top: 75px;
}

#channel-area {
    width: 30%;
    float: left;
}

#message-area {
    width: 70%;
}