* {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}

section {    
    position: fixed;
    top: 0px;
    height: 100vh;
}

#channel-area {
    width: 299px;
    height: 100vh;
    border-right: 1px solid rgb(199, 199, 199);
}

#message-area {
    width: calc(100% - 300px);
    left: 300px;
}

.headbar {
    background-color: #dddddd;
    color: #00838f;
    height: 64px;
    line-height: 64px;
    padding: 0px 22px 0px 22px;
}

#message-area .headbar {
    display: flex;
    justify-content: space-between;
}

.headbar i {
    line-height: 64px;
}

.headbar img {
    height: 44px;
    float: left;
}

.fab {
    width: 44px;
    height: 44px;
    background-color:#00838f;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 #666;
    
    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 44px;
    
    position: absolute;
    top: 42px;
    right: 22px;
}


